    <section class="slice bg-2 p-15">
        <div class="cta-wr">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            <strong>NRI-Matches</strong>
                        even miracle takes a little time...Join free!
                        </h1>
                    </div>
                    <% if !user_signed_in? %>
                    <div class="col-md-4">
                      
               <%= link_to '<i class="fa fa-bolt"></i>Get started now'.html_safe, new_member_path , 
               class: "btn btn-one btn-lg pull-right"  %>
              
               
              
                    </div>
                     <% end %>
                </div>
            </div>
        </div>
    </section>