<div class="wrapper">
	<!-- This section is only for demonstration purpose only. Just remove the div "divStyleSwitcher" -->
<div id="divStyleSwitcher" class="style-switcher-slidebar">
	<a href="#" id="cmdShowStyleSwitcher" class="open-panel">Register</a>
	<div class="switch-panel">
    	<h3>Registration</h3>
        <div class="panel-section">
        	<label>How do you prefer it?</label>
        	<div class="row">
            	<div class="col-xs-12">
                	<div class="form-group">
                        <select id="cmbLayout" class="form-control">
                            <option value="1">Fluid</option>
                            <option value="2">Boxed</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>                            
        <div class="panel-section">
        	<div class="row">
                <div class="col-xs-12">
                	<div class="form-group">
                    	<label>Navigation Style</label>
                        <select id="cmbNavigationStyle" class="form-control" title="This will change the navbar dropdown style">
                            <option value="1">White</option>
                            <option value="2">Contrasted</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>     
        <div class="panel-section">
        	<div class="row">
                <div class="col-xs-12">
                	<label>Pattern/Bckg</label>
                    <select id="cmbBackground" class="form-control">
                        <option value="1">Pattern 1</option>
                        <option value="2">Pattern 2</option>
                        <option value="3">Pattern 3</option>
                        <option value="4">Pattern 4</option>
                        <option value="5">Background 1</option>
                        <option value="6">Background 2</option>
                    </select>
                </div>
            </div>
        </div>       
        <hr />                                   
        <div class="panel-section">
        	<div class="form-group">
            	<label>Choose your favourite color</label>
            	<span class="color-picker">
                    <a href="#" id="cmdRed" class="color-red" title="Red">Red</a>
                    <a href="#" id="cmdViolet" class="color-violet" title="Violet">Violet</a>
                    <a href="#" id="cmdBlue" class="color-blue" title="Blue">Blue</a>
                    <a href="#" id="cmdGreen" class="color-green" title="Green">Green</a>
                    <a href="#" id="cmdYellow" class="color-yellow" title="Yellow">Yellow</a>
                    <a href="#" id="cmdOrange" class="color-orange" title="Orange">Orange</a>
                </span>
            </div>
        </div>
    </div>
</div>