 <section class="slice bg-3">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Welcome to NRI Matches</h2>
                            <p style="font-size:16px;">
                               Create your own account and explore more.
                            </p>
    
                        </div>
                    </div>
                </div>

<%= render 'form' %>
   </div>
        </div>
    
    </section>

<%= link_to 'Back', members_path %>
