
 
 <% if @member.errors.any? %>
 
    var errors = $('<ul />');
     <% @member.errors.full_messages.each do |msg| %>
    
       errors.append('<li><%= escape_javascript( msg ) %></li>');
      <% end %>
    
      $(body).find('#errors').html(errors);
      $("html, body").animate({ scrollTop: 0 }, "fast");
  <% end %>