   <div class="row">
                    <div class="col-md-8 col-md-offset-2 ">
                        
                                <div class="form-body">  
<%= form_for(@member, :url=> url_for(:controller => 'member', :action => 'update'), html: { 
                                    	:multipart => true,
                                    	class:"form-light padding-15"}) do |f| %>
                                    	
       <%= f.fields_for :photos do |photo| %>
  <% if photo.object.new_record?  %>
   <div class="form-group">
   	
    <%= photo.file_field :data %>
    </div>
        <% end %>  
        <% end %>    
         <div class="col-md-12">
    <%= button_tag 'Upload Pictures',:class=>'btn btn-lg pull-right' %>
  </div>                       	
<% end %>
</div>
</div>
</div>
